.element {
  background-color: white;
  color: black;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  height: 361px;
  overflow: hidden;
  position: relative;
}

.element__remove-button {
  display: none;
  background-image: url(../images/remove-button.svg);
  background-color: transparent;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.element__remove-button_owner {
  display: block;
}

.element__remove-button:hover {
  opacity: 0.6;
}

.element__image {
  vertical-align: middle;
  width: 100%;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
  opacity: 1;
}

.element__image-caption {
  display: flex;
  justify-content: space-between;
  margin: 25px auto 0;
  padding: 0;
  width: 246px;
}

.element__caption-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  max-width: 220px;
}

.element__like-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element__like-button {
  background-color: white;
  background-image: url(../images/like-button.svg);
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
  margin: auto 0;
  width: 21px;
  height: 19px;
}

.element__like-button_active {
  background-image: url(../images/like-button_active.svg);
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-counter {
  font-family: Inter, sans-serif;
  margin-top: 3px;
  font-size: 13px;
}
