.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s linear, z-index 0.2s linear;
}

.popup_opened {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.popup__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: calc(282px + 148 * ((100vw - 320px) / 960));
  max-width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__close-button {
  background-size: cover;
  background-color: transparent;
  background-image: url(../images/add-button.svg);
  border: 0;
  padding: 0;
  position: absolute;
  right: calc(0px - 40 * ((100vw - 320px) / 960));
  top: calc(-22px - 18 * ((100vw - 320px) / 960));
  width: calc(22px + 18 * ((100vw - 320px) / 960));
  height: calc(22px + 18 * ((100vw - 320px) / 960));
  transform: rotate(45deg);
  transition: opacity 0.2s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__title {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  margin: calc(25px + 9 * ((100vw - 320px) / 960)) 0 0
    calc(22px + 14 * ((100vw - 320px) / 960));
}

.popup__button {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Inter, sans-serif;
  font-size: 18px;
  color: white;
  padding: 0;
  width: calc(238px + 120 * ((100vw - 320px) / 960));
  max-width: 358px;
  border: none;
  height: calc(46px + 4 * ((100vw - 320px) / 960));
  margin: 38px 36px 36px;
  transition: opacity 0.2s linear;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
